{% extends 'main.tmpl' %}

{%  block slider %}
{%  endblock %}

{%  block product %}
{%  endblock %}

{% block twitter_block %}
{% endblock %}

{%  block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 min-height-250">
                <h1 class="error-v1-title text-center margin-top-100">404</h1>
                <h2 class="text-center margin-top-100">Страница не найдена</h2>
                <p class="text-center margin-bottom-100"><a class="btn-u btn-u-orange btn-bordered" href="/">перейти на главную</a></p>
            </div>
        </div>
    </div>
{%  endblock %}

{% block collection_banner %}
{% endblock %}

{%  block sponsors %}
{%  endblock %}