{% extends 'main.tmpl' %}

{% block top_menu %}
{% endblock %}

{%  block slider %}
{%  endblock %}

{%  block product %}
{%  endblock %}

{% block twitter_block %}
{% endblock %}

{%  block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 min-height-250">
                <h1 class="error-v3-title text-center margin-top-100">Контактная информация</h1>
                <h2 class="text-center margin-top-100">Контактная информация</h2>

            </div>
        </div>
    </div>
{%  endblock %}

{% block collection_banner %}
{% endblock %}

{%  block sponsors %}
{%  endblock %}