<div class="col-md-6">
    <p>
        {{ "now"|date("Y")  }} &copy; Store-mastersoftware. Все права защищены.
        <a target="_blank" href="https://twitter.com/htmlstream"><a href="#">Политика конфиденциальности</a>
    </p>
</div>
<div class="col-md-6">
    <ul class="list-inline sponsors-icons pull-right">
        <li><i class="fa fa-cc-paypal"></i></li>
        <li><i class="fa fa-cc-visa"></i></li>
        <li><i class="fa fa-cc-mastercard"></i></li>
        <li><i class="fa fa-cc-discover"></i></li>
    </ul>
</div>