<!-- Pages -->
<li class="dropdown active">
    <a href="/index" class="dropdown-toggle">
        Главная
    </a>
    <!--								<ul class="dropdown-menu">-->
    <!--									<li class="active"><a href="index.html">Shop UI</a></li>-->
    <!--									<li><a href="shop-ui-inner.html">Product Page</a></li>-->
    <!--									<li><a href="shop-ui-filter-grid.html">Filter Grid Page</a></li>-->
    <!--									<li><a href="shop-ui-filter-list.html">Filter List Page</a></li>-->
    <!--									<li><a href="shop-ui-add-to-cart.html">Checkout</a></li>-->
    <!--									<li><a href="shop-ui-login.html">Login</a></li>-->
    <!--									<li><a href="shop-ui-register.html">Register</a></li>-->
    <!--								</ul>-->
</li>
<!-- End Pages -->

<!-- Promotion -->
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">
        Каталог
    </a>
    <ul class="dropdown-menu">
        <li class="dropdown-submenu">
            <a href="#">Мужская одежда</a>
            <ul class="dropdown-menu">
                <li><a href="#">Костюмы</a></li>
                <li><a href="#">Джинсы</a></li>
                <li class="dropdown-submenu">
                    <a href="#">Обувь</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Ботинки</a></li>
                        <li><a href="#">Кроссовки</a></li>
                        <li><a href="#">Сандалии</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="dropdown-submenu">
            <a href="#">Женская одежда</a>
            <ul class="dropdown-menu">
                <li><a href="#">Блузки</a></li>
                <li><a href="#">Платья</a></li>
                <li class="dropdown-submenu">
                    <a href="#">Обувь</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Туфли</a></li>
                        <li><a href="#">Сапоги</a></li>
                        <li><a href="#">Босоножки</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</li>
<!-- End Promotion -->

<!-- Main Demo -->
<li><a href="/action">Акции</a></li>
<!-- Main Demo -->

<!-- About company -->
<li><a href="/about">О компании</a></li>
<!-- About company  -->

<!-- Contacts -->
<li><a href="/contacts">Контакты</a></li>
<!-- Contacts -->