<div class="col-sm-6">
    <!-- Topbar Navigation -->
    <ul class="left-topbar">
        <li>
            <a>Валюта (RUR)</a>
            <ul class="currency">
                <li class="active">
                    <a href="#">RUR <i class="fa fa-check"></i></a>
                </li>
                <li><a href="#">Euro</a></li>
                <li><a href="#">Dollar</a></li>
            </ul>
        </li>
        <li>
            <a title="Язык"> Русский (RUS)</a>
            <ul class="language">
                <li class="active">
                    <a href="#">English (EN)<i class="fa fa-check"></i></a>
                </li>
                <li><a href="#">Русский (RUS)</a></li>
            </ul>
        </li>
    </ul><!--/end left-topbar-->
</div>
<div class="col-sm-6">
    <ul class="list-inline right-topbar pull-right">
        <!--								<li><a href="#">Account</a></li>-->
        <!--								<li><a href="shop-ui-add-to-cart.html">Wishlist (0)</a></li>-->
        <li><a href="shop-ui-login.html">Вход</a> | <a href="shop-ui-register.html">Регистрация</a></li>
        <li><i class="search fa fa-search search-button"></i></li>
    </ul>
</div>